<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
<title>{{.Title}}</title>
</head>
<body>

<nav>
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="form">Contact Us</a></li>
  <li><a href="duets">Duets</a></li>
</ul>
</nav>

<div class="bg">

<div class="mainbody">
<div class ="cleff"><img src="/img/misc/treble.png" height ="75" width="26" > </div>
<h1>{{.Title}}</h1>

<p>Listen to musics on a my site that written with Go and Html and Css. </p>

</div>
</div>

</body>
</html>